body {
    font-family: sans-serif;
}

h1 {
    margin-left: 20px;
    font-size: 2.3em;
    margin-top: 50px;
}

.logo {
    width: 4%;
    height: 4%;
    padding-left: 60px;
    display: flex;
    margin-right: 30px;
    margin-top: 20px;
}

.felirat {
    background-color: #ffd037;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#csapat,
#jegyek,
#trofeak {
    border: 2px solid #fcc200;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.felsok {
    background-color: #fcc200;
    display: flex;
    gap: 40px;
    padding-left: 150px;
    font-size: 1.4em;
    font-weight: bold;
    height: 2.8em;
}

.felsok p {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

#csapat,
#csapat2 {
    font-size: 0.9em;
    border: 2px solid #fcc200;
    cursor: pointer;
    border-radius: 20px;
}

#csapat:hover,
#csapat2:hover {
    background-color: #ffd037;
    border: 2px solid black;
    border-radius: 20px;
    transform: scale(1.1);

}

#trofeak,
#trofeak2 {
    font-size: 0.9em;
    border: 2px solid #fcc200;
    cursor: pointer;
    border-radius: 20px;
}

#trofeak:hover,
#trofeak2:hover {
    background-color: #ffd037;
    border: 2px solid black;
    border-radius: 20px;
    transform: scale(1.1);
}

#jegyek,
#jegyek2 {
    font-size: 0.9em;
    border: 2px solid #fcc200;
    cursor: pointer;
    border-radius: 20px;
}

#jegyek:hover,
#jegyek2:hover {
    background-color: #ffd037;
    border: 2px solid black;
    border-radius: 20px;
    transform: scale(1.1);
}

.felsok2 {
    background-color: #f1e7c7;
    display: flex;
    padding-left: 15px;
    font-size: 0.8em;

}

#felsok2csapat {
    padding-left: 147px;
    font-weight: bold;
    border-right: 3px solid black;
    padding-right: 5px;
}

#felsok2trofea {
    padding-left: 275px;
    font-weight: bold;
    border-right: 3px solid black;
    padding-right: 5px;
}

#felsok2jegyek {
    padding-left: 405px;
    font-weight: bold;
    border-right: 3px solid black;
    padding-right: 5px;
}

#felsok2real {
    border-right: 3px solid black;
    padding-right: 5px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

#real:hover {
    color: dimgray;
    transform: scale(1.1);
    cursor: pointer;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

table {
    margin-left: 50px;
}

.jatekosok {
    display: flex;
    gap: 270px;
}

th {
    text-align: left;
    padding: 10px 20px 10px 0;
}

td {
    padding: 0px 20px 10px 0;
}

table {
    border-left: 3px solid #f1e7c7;
    padding-left: 5px;
}

.kupak {
    margin-left: 120px;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(199, 199, 199);
    max-width: 87%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    border: 5px solid white;

}

.kupakep {
    width: 150px;

}

#kupaszam {
    font-size: 70px;
    font-weight: bold;
    color: #fcc200;
}

.kupafelirat {
    padding: 0 30px;
    font-weight: bold;
}

#evszamok {
    line-height: 1.7em;
}

#copadelrey {
    width: 100px;
    margin: 0 25px 0 25px;
}

#klubvb {
    padding-left: 70px;
}

#bl {
    background-image: url(Képek/24ucl\ celebration.jpg);
    background-position-x: right;
    background-repeat: no-repeat;
}

#liga {
    background-image: url(Képek/league.jpg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 270px;
}

#copa {
    background-image: url(Képek/copadelrey.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position-x: right;
}

#supercup {
    background-image: url(Képek/supercup.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position-x: right;
}

#clubwc {
    background-image: url(Képek/clubwc.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position-x: right;
}

#esupercup {
    background-image: url(Képek/esupercup.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.jatekter {
    width: 300px;
    block-size: 200px;
    color: white;
    background-image: url(Képek/letöltés.jpg);
    background-repeat: no-repeat;
    background-position: -21px;
    background-size: cover;
    position: relative;
    left: 50px;
    z-index: 3;
    border-radius: 110px;
    border: 10px solid white;
}
.elsosor {
    color: white;
    position: relative;
    width: 425px;
    block-size: 300px;
    background-color: rgb(255, 66, 66);
    border-radius: 200px;
    border: 10px solid white;
    z-index: 2;
    left: 55px;
    top: 5px;
}
.masodiksor {
    color: white;
    position: absolute;
    background-color: rgb(255, 0, 0);
    border: 10px solid black;
    width: 560px;
    block-size: 430px;
    border-radius: 350px;
    margin-top: 150px;
    margin-left: 600px;
}
select{
    border: 0px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
    margin-bottom: 10px;
    height: 20px;
    width: 175px;
}
#stadionfelirat {
    text-align: center;
}

#stadionlink {
    color: white;
}

.form {
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 150px  0 000px;
}

::placeholder {
    color: rgba(255, 0, 0, 0.603);
    border-left: 1px solid rgba(255, 0, 0, 0.603);
    padding-left: 3px;
}
input[type="text"],
input[type="number"]{
    border: 0px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
    margin-bottom: 10px;
    height: 20px;
}


input[type="text"]:hover{
    transform: scale(1.1);
}
input[type="button"]{
    width: 175px;
    height: 30px;
    background-color: white;
    border: 0;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(201, 201, 201);
}
input[type="button"]:hover{
    transform: scale(1.1);
}
#dd{
    font-weight: 1.0em;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}
#dt{
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 20px;
}
#dl{
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: underline;
}
.definelist{
    width: 250px;
    position: absolute;
}
.radio{


position: relative;
z-index: 3;
}
#jegy{
    border: 2px solid #ffd037;
}
