body {
    font-family: sans-serif;
}

h1 {
    margin-left: 20px;
    font-size: 2.3em;
    font-family: sans-serif;
    margin-top: 50px;
}

.logo {
    width: 4%;
    height: 4%;
    padding-left: 60px;
    display: flex;
    margin-right: 30px;
    margin-top: 20px;

}

.felirat {
    background-color: #ffd037;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.felsok {
    background-color: #fcc200;
    display: flex;
    gap: 40px;
    padding-left: 150px;
    font-size: 1.4em;
    font-weight: bold;
    
}
.felsok p{
    padding-left:  10px;
    padding-right: 10px;
    align-items: center;
}
#csapat, #csapat2{
font-size: 0.9em;
}
#csapat:hover,
#csapat2:hover{
    background-color: #ffd037;
    border: 2px solid black;
    border-radius: 20px; 
}
#trofeak, #trofeak2{
    font-size: 0.9em;
}
#trofeak:hover,
#trofeak2:hover{
    background-color: #ffd037;
    border: 2px solid black;
    border-radius: 20px; 
}
#jegyek, #jegyek2{
    font-size: 0.9em;
}
#jegyek:hover,
#jegyek2:hover{
    background-color: #ffd037;
    border: 2px solid black;
    border-radius: 20px; 
}
.felsok2{
    background-color: #f1e7c6;
    display: flex;
    padding-left: 15px;
    font-size: 0.8em;


}
#felsok2csapat{
    padding-left: 147px;
    font-weight: bold;
    border-right: 3px solid black;
    padding-right: 5px;
}
#felsok2trofea{
    padding-left: 275px;
    font-weight: bold;
    border-right: 3px solid black;
    padding-right: 5px;
}
#felsok2jegyek{
    padding-left: 405px;
    font-weight: bold;
    border-right: 3px solid black;
    padding-right: 5px;
}
#felsok2real{
    border-right: 3px solid black;
    padding-right: 5px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
#real:hover{
    color: dimgray;
}
